/* Sign Up */
.signup-page {
  background: none repeat scroll 0 0 #FEFEFE;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: 0 0 3px #EEEEEE;
  color: #555555;
  padding: 30px;
}
.signup-page label {
  font-weight: normal;
}
.signup-header p {
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  /* box-shadow: 0 0px 1px black; */
}
